
.vs/NSimpleOLAP/v16/.suo
*.pdb
*.p7s
*.dll
*.exe
*.addins
*.cache
*.CopyComplete
*.nupkg
*.testlog
*.manifest
packages/*
UnitTests/bin/*
UnitTests/obj/*
ExampleApp/bin/*
ExampleApp/obj/*
NSimpleOLAP/obj/*
NSimpleOLAP-Core/obj/*
NSimpleOLAP-Core/bin/*
UnitTests-Core/bin/*
UnitTests-Core/obj/*
*.v2
